USE [DBotomasyon]
GO
/****** Object:  UserDefinedFunction [dbo].[Belirliaraliktakiurunler]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Belirliaraliktakiurunler](@ilk int,@son int)
returns @values table
(ID   int,
URUNADI   VARCHAR(60)
)
as
begin
insert @values
select ID,URUNAD
FROM TBL_URUNLER
WHERE ID>=@ilk and ID<=@son
RETURN 
END
GO
/****** Object:  UserDefinedFunction [dbo].[fncgenelkdvlifiyat]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fncgenelkdvlifiyat]
(@fiyat int,@adet int,@indirim float)
returns float
as
begin
declare @kdvli float
set @kdvli=@fiyat*@adet set 
@kdvli=@kdvli+(@kdvli *0.18)
set @kdvli=@kdvli*(1-@indirim)
return @kdvli
end
GO
/****** Object:  UserDefinedFunction [dbo].[gidertopla]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[gidertopla](@ID int)
RETURNS int
AS
BEGIN
DECLARE @elektrik int
DECLARE @su int
DECLARE @dg int
DECLARE @toplam INT
select @toplam=ELEKTRIK+SU+DOGALGAZ+EKSTRA+MAASLAR+INTERNET from TBL_GIDERLER where ID=@ID 
return @toplam
end
GO
/****** Object:  UserDefinedFunction [dbo].[KDVhesap]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[KDVhesap]
(@FIYAT int)
RETURNS int
AS 
BEGIN
DECLARE @DEGER int
set @DEGER=@FIYAT*1.18
return @DEGER
end
GO
/****** Object:  UserDefinedFunction [dbo].[TOPLAMURUN]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[TOPLAMURUN]()
 RETURNS int 
 AS
 BEGIN
 DECLARE @TOPLAM int 
 set @TOPLAM=(select count (ID)FROM TBL_URUNLER)
 RETURN @TOPLAM
 END
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](50) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](30) NULL,
	[YIL] [char](4) NULL,
	[ADET] [int] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](100) NULL,
	[INDIRIM] [float] NULL,
	[STOK] [smallint] NULL,
 CONSTRAINT [PK_TBL_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[URUN_BILGISI]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[URUN_BILGISI]
(@ID smallint)
returns table as
return select *from TBL_URUNLER WHERE ID=@ID
GO
/****** Object:  UserDefinedFunction [dbo].[fnc_urunara]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[fnc_urunara]
(@ara VARCHAR(10))
returns table
as 
return select *from TBL_URUNLER
where URUNAD like '%' +@ara+'%'
GO
/****** Object:  Table [dbo].[FIRMALAR]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIRMALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[YETKILISTATU] [varchar](30) NULL,
	[YETKILIADSOYAD] [varchar](30) NULL,
	[YETKILITC] [varchar](11) NULL,
	[SEKTOR] [varchar](50) NULL,
	[TELEFON1] [varchar](35) NULL,
	[TELEFON2] [varchar](15) NULL,
	[MAIL] [varchar](30) NULL,
	[FAX] [varchar](30) NULL,
	[IL] [nvarchar](50) NULL,
	[ILCE] [nvarchar](50) NULL,
	[VERGI] [varchar](30) NULL,
	[ADRES] [varchar](100) NULL,
	[OZELKOD1] [nchar](10) NULL,
	[OZELKOD2] [nchar](10) NULL,
	[OZELKOD3] [nchar](10) NULL,
 CONSTRAINT [PK_FIRMALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiderNot]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiderNot](
	[NotID] [int] NULL,
	[GidernotNO] [int] NOT NULL,
	[GiderID] [int] NULL,
 CONSTRAINT [PK_GiderNot] PRIMARY KEY CLUSTERED 
(
	[GidernotNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kisi]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kisi](
	[ID] [int] NOT NULL,
	[AD] [varchar](20) NOT NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](20) NULL,
	[IL] [varchar](20) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](120) NULL,
	[VERGI] [varchar](20) NULL,
	[GOREV] [varchar](20) NULL,
 CONSTRAINT [PK_Kisi_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NotPersonel]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NotPersonel](
	[notpersonelID] [int] NULL,
	[notID] [int] NULL,
	[PersonelID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[KullaniciAd] [varchar](50) NULL,
	[Sifre] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [varchar](30) NULL,
	[IL] [varchar](50) NULL,
	[ILCE] [varchar](50) NULL,
	[SUBE] [varchar](30) NULL,
	[IBAN] [varchar](20) NULL,
	[HESAPNO] [varchar](20) NULL,
	[YETKILI] [varchar](50) NULL,
	[TELEFON] [varchar](50) NULL,
	[TARIH] [varchar](50) NULL,
	[HESAPTURU] [varchar](20) NULL,
	[FIRMAID] [int] NULL,
 CONSTRAINT [PK_TBL_BANKALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURABILGI]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURABILGI](
	[FATURABILGIID] [int] IDENTITY(1,1) NOT NULL,
	[SIRA] [char](10) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [varchar](10) NULL,
	[SAAT] [varchar](10) NULL,
	[VERGI] [varchar](50) NULL,
	[ALICI] [varchar](30) NULL,
	[TESLIMEDEN] [varchar](30) NULL,
	[TESLIMALAN] [varchar](30) NULL,
	[STOKADET] [smallint] NULL,
 CONSTRAINT [PK_TBL_FATURABILGI] PRIMARY KEY CLUSTERED 
(
	[FATURABILGIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURADETAY]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURADETAY](
	[FATURAURUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[MIKTAR] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_FATURADETAY] PRIMARY KEY CLUSTERED 
(
	[FATURAURUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMAHARAKETLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMAHARAKETLER](
	[HARAKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [int] NULL,
	[FIRMA] [int] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAINT] [int] NULL,
	[TARIH] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_FIRMAHARAKETLER] PRIMARY KEY CLUSTERED 
(
	[HARAKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GIDERLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GIDERLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AY] [varchar](10) NULL,
	[YIL] [varchar](10) NULL,
	[ELEKTRIK] [decimal](18, 2) NULL,
	[SU] [decimal](18, 2) NULL,
	[DOGALGAZ] [decimal](18, 2) NULL,
	[INTERNET] [decimal](18, 2) NULL,
	[MAASLAR] [decimal](18, 2) NULL,
	[EKSTRA] [decimal](18, 2) NULL,
	[NOTLAR] [varchar](50) NULL,
	[TOPLAMGIDER]  AS ([dbo].[gidertopla]([ID])),
 CONSTRAINT [PK_TBL_GIDERLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCELER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCELER](
	[ID] [int] NOT NULL,
	[ILCE] [varchar](30) NULL,
	[SEHIR] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [varchar](20) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KODFIRMA]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KODFIRMA](
	[KODID] [int] NOT NULL,
	[firmaID] [int] NULL,
	[KodfirmaID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_KODFIRMA] PRIMARY KEY CLUSTERED 
(
	[KodfirmaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_KODLAR]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_KODLAR](
	[FIRMAKOD1] [varchar](300) NULL,
	[FIRMAKOD2] [varchar](300) NULL,
	[FIRMAKOD3] [varchar](300) NULL,
	[KODID] [int] NOT NULL,
 CONSTRAINT [PK_TBL_KODLAR] PRIMARY KEY CLUSTERED 
(
	[KODID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERI]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](20) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[VERGI] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_MUSTERI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERIHARAKETLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERIHARAKETLER](
	[HARAKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [int] NULL,
	[MUSTERI] [int] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAINT] [int] NULL,
	[TARIH] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_MUSTERIHARAKETLER] PRIMARY KEY CLUSTERED 
(
	[HARAKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[NOTTARIH] [varchar](50) NULL,
	[NOTSAAT] [varchar](50) NULL,
	[NOTBASLIK] [varchar](20) NULL,
	[NOTDETAY] [varchar](100) NULL,
	[NOTOLUSTURAN] [varchar](50) NULL,
 CONSTRAINT [PK_TBL_NOTLAR] PRIMARY KEY CLUSTERED 
(
	[NOTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [int] NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](50) NULL,
	[IL] [varchar](15) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[GOREV] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[URUNID] [int] NOT NULL,
	[STOKADET] [smallint] NULL,
 CONSTRAINT [PK_TBL_STOKLAR] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TLB_SILINMISURUNLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TLB_SILINMISURUNLER](
	[ID] [int] NULL,
	[URUNAD] [varchar](50) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](30) NULL,
	[YIL] [char](4) NULL,
	[ADET] [int] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](100) NULL,
	[INDIRIM] [float] NULL,
	[STOK] [smallint] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FIRMALAR] ON 

INSERT [dbo].[FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [MAIL], [FAX], [IL], [ILCE], [VERGI], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (1, N'Sentetik Tiner Fabrikasi', N'Mudur', N'Nuri Bag', N'12345678999', N'TINER', N'(123) 400-5098', N'(216) 430-5098', N'tiner@hotmail.com', N'(123) 400-5098', N'Adana', N'Seyhan', N'Seyhan', N'Seyhan''da biyerlerde', N'1290-1988 ', N'810-1-8   ', N'Q89E8     ')
INSERT [dbo].[FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [MAIL], [FAX], [IL], [ILCE], [VERGI], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (3, N'Yapistirici fabrikasi', N'Mudur Yardimcisi', N'Jamal alizadeh', N'36365555555', N'Yapistirici', N'(235) 666-6666', N'(254) 444-4444', N'camal@mail.com', N'(255) 555-5555', N'ADANA', N'KARATAÞ', N'Adana', N'ADANAAA', N'1290-1980 ', N'810-1-87  ', N'          ')
INSERT [dbo].[FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADSOYAD], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [MAIL], [FAX], [IL], [ILCE], [VERGI], [ADRES], [OZELKOD1], [OZELKOD2], [OZELKOD3]) VALUES (5, N'Araba Galerisi', N'Yardimci', N'Huseyin Cakar', N'86432313113', N'Otomotiv', N'(235) 666-6666   )    -', N'254) 444-4444', N'huseynl@mail.com', N'(55) 555-555580   )    -', N'AÐRI', N'TUTAK', N'TUTAK', N'TUTAK''DA BIR EV', N'          ', N'          ', N'          ')
SET IDENTITY_INSERT [dbo].[FIRMALAR] OFF
INSERT [dbo].[GiderNot] ([NotID], [GidernotNO], [GiderID]) VALUES (1, 1, 1)
INSERT [dbo].[GiderNot] ([NotID], [GidernotNO], [GiderID]) VALUES (2, 2, 2)
INSERT [dbo].[Kisi] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGI], [GOREV]) VALUES (1, N'Berkay', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Kisi] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGI], [GOREV]) VALUES (2, N'Omer', N'Faruk', N'(530) 456712347', N'11223344551', N'deneme@hotmail.com', N'Sakarya', N'Serdivan', N'serdican;da bir ev', NULL, NULL)
INSERT [dbo].[Kisi] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGI], [GOREV]) VALUES (3, N'UGUR', N'SAFAK', N'(329) 239-3203', N'213131     ', N'AFYON', N'GERGER', N'Dunya', N'Mudur Yardimcisi', NULL, N'Muhasebe')
INSERT [dbo].[NotPersonel] ([notpersonelID], [notID], [PersonelID]) VALUES (1, 1, 2)
INSERT [dbo].[NotPersonel] ([notpersonelID], [notID], [PersonelID]) VALUES (2, 2, 3)
INSERT [dbo].[NotPersonel] ([notpersonelID], [notID], [PersonelID]) VALUES (4, 4, 2)
INSERT [dbo].[TBL_ADMIN] ([KullaniciAd], [Sifre]) VALUES (N'admin1', N'2')
INSERT [dbo].[TBL_ADMIN] ([KullaniciAd], [Sifre]) VALUES (N'admin2', NULL)
INSERT [dbo].[TBL_ADMIN] ([KullaniciAd], [Sifre]) VALUES (N'admin2', NULL)
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] ON 

INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (3, N'ZIRAAT', N'SAKARYA', N'SERDIVAN', N'SERDIVAN', N'1234 5678 9101 1111', N'9101 1116', N'Berkay Cete', N'(555) 112-332', N'09/11/2019', N'FIRMA', 1)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (4, N'ISBANKASI', N'SAKARYA', N'ADAPAZARI', N'ADPAZARI', N'3191 1283 1281 3833', N'1308 1308', N'Tahir Uzelli', N'214112341', N'10.11.2019', N'FIRMA', 1)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (7, N'Is bankasi', N'AFYON', N'ÇAY', N'Cay', N'13451235125', N'15233512', N'Berkay Cete', N'(412) 341-4243', N'12/31/2019', N'Firma', 1)
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] OFF
SET IDENTITY_INSERT [dbo].[TBL_FATURABILGI] ON 

INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SIRA], [SIRANO], [TARIH], [SAAT], [VERGI], [ALICI], [TESLIMEDEN], [TESLIMALAN], [STOKADET]) VALUES (1, N'A         ', N'1000432', N'05.01.2018', N'16:30', N'Sakarya', N'Harun', N'Emir', N'Harun', 5)
INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SIRA], [SIRANO], [TARIH], [SAAT], [VERGI], [ALICI], [TESLIMEDEN], [TESLIMALAN], [STOKADET]) VALUES (2, N'A         ', N'100098', N'11/21/2018', N'22:39', N'Serdivan', N'Benjamin', N'Harun', N'Benjamin', 2)
INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SIRA], [SIRANO], [TARIH], [SAAT], [VERGI], [ALICI], [TESLIMEDEN], [TESLIMALAN], [STOKADET]) VALUES (3, N'133112    ', N'132', N'11/11/2010', N'12:12', N'Karasu', N'Elma adam', N'Armut adam', N'Elma adan', 1)
SET IDENTITY_INSERT [dbo].[TBL_FATURABILGI] OFF
SET IDENTITY_INSERT [dbo].[TBL_FATURADETAY] ON 

INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (2, N'Camasir Makinasi', 5, CAST(1000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (3, N'SU ISITIC', 3, CAST(30.00 AS Decimal(18, 2)), CAST(90.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (4, N'Bilgisyar', 5, CAST(2000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBL_FATURADETAY] OFF
SET IDENTITY_INSERT [dbo].[TBL_FIRMAHARAKETLER] ON 

INSERT [dbo].[TBL_FIRMAHARAKETLER] ([HARAKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAINT], [TARIH]) VALUES (1, 2, 10, 3, 3, CAST(1000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 2, N'08.21.2010')
INSERT [dbo].[TBL_FIRMAHARAKETLER] ([HARAKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAINT], [TARIH]) VALUES (2, 3, 3, 3, 5, CAST(1000.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), 3, N'09.16.2018')
SET IDENTITY_INSERT [dbo].[TBL_FIRMAHARAKETLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_GIDERLER] ON 

INSERT [dbo].[TBL_GIDERLER] ([ID], [AY], [YIL], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR]) VALUES (1, N'OCAK', N'2019', CAST(55.00 AS Decimal(18, 2)), CAST(66.00 AS Decimal(18, 2)), CAST(77.00 AS Decimal(18, 2)), CAST(75.00 AS Decimal(18, 2)), CAST(3666.00 AS Decimal(18, 2)), CAST(45.00 AS Decimal(18, 2)), N'YEMEK')
INSERT [dbo].[TBL_GIDERLER] ([ID], [AY], [YIL], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR]) VALUES (2, N'SUBAT', N'2018', CAST(42.00 AS Decimal(18, 2)), CAST(42.00 AS Decimal(18, 2)), CAST(52.00 AS Decimal(18, 2)), CAST(52.00 AS Decimal(18, 2)), CAST(26626.00 AS Decimal(18, 2)), CAST(32.00 AS Decimal(18, 2)), N'GIYIM')
SET IDENTITY_INSERT [dbo].[TBL_GIDERLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] ON 

INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] OFF
SET IDENTITY_INSERT [dbo].[TBL_ILLER] ON 

INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (1, N'ADANA')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBL_ILLER] OFF
INSERT [dbo].[TBL_KODFIRMA] ([KODID], [firmaID], [KodfirmaID]) VALUES (1, 1, 1)
INSERT [dbo].[TBL_KODFIRMA] ([KODID], [firmaID], [KodfirmaID]) VALUES (3, 3, 3)
INSERT [dbo].[TBL_KODLAR] ([FIRMAKOD1], [FIRMAKOD2], [FIRMAKOD3], [KODID]) VALUES (N'Sektor bazinda', N'Sektorde is sahibi', NULL, 1)
SET IDENTITY_INSERT [dbo].[TBL_MUSTERI] ON 

INSERT [dbo].[TBL_MUSTERI] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGI]) VALUES (1, N'Berkay', N'Cete', N'(510) 450-2304', N'(216) 123-4567', N'12345678910', N'bekkmoon@gmail.com', N'Sakarya', N'Erenler', N'Daire 108.Erenler', N'Erenler')
INSERT [dbo].[TBL_MUSTERI] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGI]) VALUES (2, N'Omer', N'Faruk', N'(510) 550-3305', N'(216) 765-5321', N'21354687901', N'omerf@gmail.com', NULL, N'Ankara', N'Karanfil sokak', N'Kizilay')
INSERT [dbo].[TBL_MUSTERI] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGI]) VALUES (4, N'Tahir', N'Uzelli', N'(555) 381-9219', N'(216) 191-0012', N'71393178613', N'tahir.uzelli@gmail.com', N'NEVÞEHÝR', N'AVANOS', N'OZKONAK KASABASI CAMII CEDIT MAHALLESI
EV 126', N'AVANOS')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERI] OFF
SET IDENTITY_INSERT [dbo].[TBL_MUSTERIHARAKETLER] ON 

INSERT [dbo].[TBL_MUSTERIHARAKETLER] ([HARAKETID], [URUNID], [ADET], [PERSONEL], [MUSTERI], [FIYAT], [TOPLAM], [FATURAINT], [TARIH]) VALUES (5, 14, 3, 3, 1, CAST(1010.00 AS Decimal(18, 2)), CAST(3030.00 AS Decimal(18, 2)), 5, N'02.13.2019')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERIHARAKETLER] OFF
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([NOTID], [NOTTARIH], [NOTSAAT], [NOTBASLIK], [NOTDETAY], [NOTOLUSTURAN]) VALUES (1, N'01/12/2019', N'21:30', N'Toplanti', N'Firma Toplantisi olacak', N'Baran cinar')
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [NOTTARIH], [NOTSAAT], [NOTBASLIK], [NOTDETAY], [NOTOLUSTURAN]) VALUES (2, N'01/12/2019', N'22:00', N'Siparis son gunu', N'Frima siparisi', N'Alsa DestanLI')
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (0, N'Ender', N'ERMAN', N'(530) 355-7123', N'33442211446', N'ENDER@hotmail.com', N'Bursa', N'Nilufer', N'bursa''da bir eb', N'Mali danisman')
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (3, N'UGUR', N'SAFAK', N'(329) 239-3203', N'23093109310', N'DDS', N'AFYON', N'GERGER', N'Dunya', N'Mudur Yardimcisi')
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (200, N'Taha', N'Yikilmaz', N'(530) 456-7123', N'11223344552', N'deneme@hotmail.com', N'Sakarya', N'Serdivan', N'serdivan''da bir ev', N'Muhasebe')
INSERT [dbo].[TBL_STOKLAR] ([URUNID], [STOKADET]) VALUES (2, 5)
INSERT [dbo].[TBL_STOKLAR] ([URUNID], [STOKADET]) VALUES (3, 6)
INSERT [dbo].[TBL_STOKLAR] ([URUNID], [STOKADET]) VALUES (14, 2)
SET IDENTITY_INSERT [dbo].[TBL_URUNLER] ON 

INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY], [INDIRIM], [STOK]) VALUES (2, N'Kombi', N'Alarko', N'2023B', N'2023', 9, CAST(1800.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'Alarko kombi gercek kombi gercek komfor', 0.3, 5)
INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY], [INDIRIM], [STOK]) VALUES (3, N'Camasir Makinasi', N'Bosch', N'A3521', N'2018', 10, CAST(1000.00 AS Decimal(18, 2)), CAST(1780.00 AS Decimal(18, 2)), N'BOSCH CAMASIR MAKINESI', 0.7, 6)
INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY], [INDIRIM], [STOK]) VALUES (14, N'Derindondurucu', N'UGUR', N'A216', N'2019', 5, CAST(1010.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), N'ugur derin dondurucu!', 0.1, 2)
SET IDENTITY_INSERT [dbo].[TBL_URUNLER] OFF
INSERT [dbo].[TLB_SILINMISURUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY], [INDIRIM], [STOK]) VALUES (28, N'Kahve Makinesi', N'Fakir', N'2019s', N'2019', 15, CAST(100.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), N'Kahve', 0.3, 16)
INSERT [dbo].[TLB_SILINMISURUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY], [INDIRIM], [STOK]) VALUES (21, N'Kombi', N'Alarko', N'2023B', N'2023', 9, CAST(1800.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'Alarko kombi gercek kombi gercek komfor', 0.8, 4)
INSERT [dbo].[TLB_SILINMISURUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY], [INDIRIM], [STOK]) VALUES (2, N'Kombi', N'Alarko', N'2023B', N'2023', 9, CAST(1800.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), N'Alarko kombi gercek kombi gercek komfor', 0.3, 5)
ALTER TABLE [dbo].[TBL_URUNLER] ADD  CONSTRAINT [DF_TBL_URUNLER_INDIRIM]  DEFAULT ((0.3)) FOR [INDIRIM]
GO
ALTER TABLE [dbo].[GiderNot]  WITH CHECK ADD  CONSTRAINT [FK_GiderNot_TBL_NOTLAR] FOREIGN KEY([NotID])
REFERENCES [dbo].[TBL_NOTLAR] ([NOTID])
GO
ALTER TABLE [dbo].[GiderNot] CHECK CONSTRAINT [FK_GiderNot_TBL_NOTLAR]
GO
ALTER TABLE [dbo].[TBL_BANKALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BANKALAR_FIRMALAR1] FOREIGN KEY([FIRMAID])
REFERENCES [dbo].[FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_BANKALAR] CHECK CONSTRAINT [FK_TBL_BANKALAR_FIRMALAR1]
GO
ALTER TABLE [dbo].[TBL_FATURADETAY]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI1] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TBL_FATURABILGI] ([FATURABILGIID])
GO
ALTER TABLE [dbo].[TBL_FATURADETAY] CHECK CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI1]
GO
ALTER TABLE [dbo].[TBL_FIRMAHARAKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHARAKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHARAKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHARAKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_FIRMAHARAKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHARAKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHARAKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHARAKETLER_TBL_URUNLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHARAKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHARAKETLER_TBL_MUSTERI] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBL_MUSTERI] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHARAKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHARAKETLER_TBL_MUSTERI]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHARAKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHARAKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHARAKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHARAKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHARAKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHARAKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHARAKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHARAKETLER_TBL_URUNLER]
GO
/****** Object:  StoredProcedure [dbo].[Bankabilgileri]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Bankabilgileri]
as
Select TBL_BANKALAR.ID,BANKAADI,TBL_BANKALAR.IL,TBL_BANKALAR.ILCE, SUBE,IBAN,HESAPNO,YETKILI,TELEFON,TARIH,HESAPTURU,AD from TBL_BANKALAR INNER JOIN FIRMALAR ON TBL_BANKALAR.FIRMAID=FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[Firmaharaketler]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Firmaharaketler]
as
Select  HARAKETID,URUNAD,TBL_FIRMAHARAKETLER.ADET,(TBL_PERSONELLER.AD+' '+SOYAD) AS 'ADSOYAD'
,FIRMALAR.AD 
From TBL_FIRMAHARAKETLER  
INNER JOIN TBL_URUNLER ON TBL_FIRMAHARAKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN
TBL_PERSONELLER
ON
TBL_FIRMAHARAKETLER.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN
FIRMALAR
ON
TBL_FIRMAHARAKETLER.FIRMA=FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[Kdvdeger]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[Kdvdeger]
(@FIYAT int)
as Begin
DECLARE @DEGER int
set @DEGER=@FIYAT*1.18
return @DEGER

Select URUNAD,dbo.KDVhesap(SATISFIYAT) from TBL_URUNLER
end
GO
/****** Object:  StoredProcedure [dbo].[MUSTERIHARAKETLER]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
cREATE PROCEDURE [dbo].[MUSTERIHARAKETLER]
AS
select HARAKETID,URUNAD,TBL_MUSTERIHARAKETLER.ADET,
(AD+' '+SOYAD) AS 'AD SOYAD',
(TBL_MUSTERI.AD+' '+TBL_MUSTERI.SOYAD) AS 'MUSTERI',
FIYAT,TOPLAM,TBL_MUSTERIHARAKETLER.ADET,FATURAINT,TARIH
FROM
TBL_MUSTERIHARAKETLER
INNER JOIN
TBL_URUNLER
ON
TBL_MUSTERIHARAKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_MUSTERI
ON
TBL_MUSTERIHARAKETLER.MUSTERI=TBL_MUSTERI.ID
GO
/****** Object:  Trigger [dbo].[trg_stokdus]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_stokdus]
on [dbo].[TBL_FATURABILGI]
AFTER 
INSERT
AS
DECLARE @ID int,@ADET SMALLINT
SELECT @ID=FATURABILGIID,@ADET=STOKADET FROM inserted
UPDATE TBL_URUNLER SET STOK-=@ADET WHERE ID=@ID
GO
ALTER TABLE [dbo].[TBL_FATURABILGI] ENABLE TRIGGER [trg_stokdus]
GO
/****** Object:  Trigger [dbo].[musterharfbuyut]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[musterharfbuyut] ON [dbo].[TBL_MUSTERI]
AFTER INSERT
AS
BEGIN
DECLARE @Uid INT
SELECT @Uid= ID FROM INSERTED

UPDATE TBL_MUSTERI SET AD=UPPER(SUBSTRING(AD,1,1))+LOWER(SUBSTRING(AD,2,LEN(AD)-1)) where ID=@Uid
END
GO
ALTER TABLE [dbo].[TBL_MUSTERI] ENABLE TRIGGER [musterharfbuyut]
GO
/****** Object:  Trigger [dbo].[HarfBuyut]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create TRIGGER [dbo].[HarfBuyut] ON [dbo].[TBL_PERSONELLER]
AFTER INSERT
AS
BEGIN
DECLARE @Uid INT
SELECT @Uid= ID FROM INSERTED

UPDATE TBL_PERSONELLER SET AD=UPPER(SUBSTRING(AD,1,1))+LOWER(SUBSTRING(AD,2,LEN(AD)-1)) where ID=@Uid

END
GO
ALTER TABLE [dbo].[TBL_PERSONELLER] ENABLE TRIGGER [HarfBuyut]
GO
/****** Object:  Trigger [dbo].[trg_Listele]    Script Date: 12/16/2019 5:32:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_Listele] on [dbo].[TBL_URUNLER]
after insert
as
begin
select * from TBL_URUNLER
end
 
GO
ALTER TABLE [dbo].[TBL_URUNLER] ENABLE TRIGGER [trg_Listele]
GO
